@{
    ViewData["Title"] = "Home Page";
}
<div class="image-container">
    <img src="images/main1.png" width="600px" height="600px" />
</div>

<!-- Centered Add Item Button -->
<div class="button-container" style="display: flex; justify-content: center; align-items: center;">
    <a href="@Url.Action("Add", "Item")" class="btn btn-primary btn-home-add">Add Item</a>
</div>
